<!--/MotoTourReview/app/views/public/posts/_map_index.html.erb-->
<div class="row">
  <div class="card border border-secondary text-center">
    <div class="d-grid gap-2 col-10 mx-auto mt-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="refreshMap()">Mapリフレッシュ</button>
    </div>
    <div class="mx-auto my-2" id="map" style="height: 500px; width: 100%;"></div>
  </div>
</div>

<script>
  function initMap() {

    // 初期表示位置
    let latlng = new google.maps.LatLng(38, 137);

    // Map設定
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5.2,
      center: latlng,
      fullscreenControl: false, //マップを全画面モードで表示するボタンを非表示
      streetViewControl: false, //ストリートビューに切り替えるボタンを非表示
      scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
      mapTypeControl: false //地図と航空写真を切り替えるボタンを非表示
    });

    // 複数マーカー ここから
    <% @posts.each do |post|%>
      ( function() {
        let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        // マーカーをクリックしたとき、詳細情報(infowindow)を表示
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          <% if admin_signed_in? %>
            content: "<a href='<%= admin_post_path(post.id) %>' target='_blank'><%= post.title %></a><br>評価: <%= post.star %> / 5"
          <% else %>
            content: "<a href='<%= post_path(post.id) %>' target='_blank'><%= post.title %></a><br>評価: <%= post.star %> / 5"
          <% end %>
        }); //infowindowをクリックすると開く
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
  }

  // Mapをリフレッシュする関数
  function refreshMap() {
    // 現在の地図を削除
    let mapElement = document.getElementById('map');
    mapElement.innerHTML = ''; // 地図を削除

    // 地図を再描画
    initMap();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
