/MotoTourReview/app/views/public/posts/index.html.erb

<h1>投稿一覧</h1>

<% @posts.each do |post| %>

  <h4>スポット名</h4>
  <span><%= post.spot_name %></span>

  <h4>タイトル</h4>
  <span><%= post.title %></span>

  <h4>コメント</h4>
  <span><%= post.comment %></span>

  <h4>日付</h4>
  <span><%= post.visited_date %></span>

  <h4>カテゴリ</h4>
  <span><%= post.category.name %></span>
<% end %>