/MotoTourReview/app/views/public/posts/index.html.erb

<%= form_tag posts_path, method: :get do %>
  <label for="category_id">カテゴリ：</label>
  <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name", params[:category_id]), include_blank: "すべてのカテゴリ" %>
  <%= submit_tag "検索" %>
<% end %>

<div class="search_form">
  <%= form_with url: posts_path, method: :get do |f| %>
    <%= f.text_field :word, placeholder: "Search"  %>
    <%= f.submit "検索", class: "btn-sm btn-outline-secondary" %>
  <% end %>
</div>

<h1>投稿一覧</h1>
<table>
    <thead>
      <tr>
        <th>スポット名</th>
        <th>タイトル</th>
        <th>コメント</th>
        <th>日付</th>
        <th>カテゴリ</th>
        <th>評価</th>
        <th>いいね</th>
      </tr>
    </thead>

  <% @posts.each do |post| %>
    <tbody>
      <tr>
        <th><%= post.spot_name %></th>
        <th><%= link_to post.title, post_path(post) %></th>
        <th><%= post.comment %></th>
        <th><%= post.visited_date %></th>
        <th><%= post.category.name %></th>
        <th>
          <div id="star_<%= post.id %>"></div>
          <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#star_<%= post.id %>');
              if (elem == null) return;

              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= post.star %>",
                readOnly: true,
              };
              raty(elem, opt);
            });
          </script>
        </th>
        <th>いいね</th>
      </tr>
    </tbody>
  <% end %>
</table>