<!--/MotoTourReview/app/views/public/posts/index.html.erb-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--左側部分-->
    <div class='col-md-3 mt-5 mb-auto sample sample01'>

      <%= form_tag posts_path, method: :get do %>
        <label for="category_id">カテゴリ：</label>
        <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name", params[:category_id]), include_blank: "すべてのカテゴリ" %>
        <%= submit_tag "検索" %>
        <%= select_tag "sort", options_for_select([["いいね数が多い順", "favorites"], ["評価が高い順", "star"]], params[:sort]), include_blank: "並び替え" %>

      <% end %>

      <div class="search_form">
        <%= form_with url: posts_path, method: :get do |f| %>
          <%= f.text_field :word, placeholder: "Search"  %>
          <%= f.submit "検索", class: "btn-sm btn-outline-secondary" %>
        <% end %>
      </div>
    </div>

    <!--右側部分-->
    <div class='col-md-9 mt-5'>
      <h3>投稿一覧</h3>
      <div class="row">
        <% @posts.each do |post| %>

          <% if post.is_private == false %>
            <div class="col-md-4 mb-4">
              <div class="card position-relative">

                <%= link_to post_path(post) do %>
                  <div class="position-relative">
                    <%= image_tag post.get_image, class: "card-img-top", alt: "投稿画像" %>
                    <p class="card-title overlay-text spot-name"><%= post.spot_name %></p>
                    <p class="overlay-text visit-date"><%= post.visited_date %><br><%= post.user.name %></p>
                  </div>
                <% end %>

                <div class="card-body">
                  <p class="card-text"><%= post.title %></p>
                  <p class="card-text"></p>
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center">
                  <%= render "static_rate", post: post %>
                  <div id="favorite_buttons_<%= post.id %>">
                    <%= render "public/favorites/btn", post: post %>
                  </div>
                </div>

              </div>
            </div>
          <% end %>

        <% end %>
      </div>
      <%== pagy_nav(@pagy) %>
    </div>

  </div>
</div>

<div id="map" style="height: 400px;"></div>

<script>
  function initMap() {

    // 初期表示位置
    let latlng = new google.maps.LatLng(37.5, 137.5);

    // Map設定
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4.7,
      center: latlng,
      fullscreenControl: false, //マップを全画面モードで表示するボタンを非表示
      streetViewControl: false, //ストリートビューに切り替えるボタンを非表示
      scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
      mapTypeControl: false //地図と航空写真を切り替えるボタンを非表示
    });

    // 複数マーカー ここから
    <% @posts.each do |post|%>
      ( function() {
        let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        // マーカーをクリックしたとき、詳細情報(infowindow)を表示
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          <% if admin_signed_in? %>
            content: "<a href='<%= admin_post_path(post.id) %>' target='_blank'><%= post.title %></a><br>評価: <%= post.star %> / 5"
          <% else %>
            content: "<a href='<%= post_path(post.id) %>' target='_blank'><%= post.title %></a><br>評価: <%= post.star %> / 5"
          <% end %>
        }); //infowindowをクリックすると開く
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
    // 複数マーカー ここまで
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
