<!--/MotoTourReview/app/views/public/posts/new.html.erb-->
<div class='container px-5 px-sm-0'>
  <div class='row my-5'>
    <!-- 左側部分 -->
    <div class='col-md-6'>
      <div class="row">
        <div class="card border border-secondary bg-transparent">
          <div class="d-grid gap-2 col-10 mx-auto mt-2">
            <% if @post.errors.any? %>
              <%= @post.errors.count %>件のエラーが発生しました
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <h4>新規投稿</h4>
            <%= form_with model: @post, local: true do |f| %>
              <!-- スポット名 -->
              <div class="form-floating mb-3">
                <%= f.text_field :spot_name, id: 'post_spot_name', onchange: 'autoFillAddress()', autofocus: true, class: "form-control", placeholder: "例：東京ドイツ村" %>
                <label for="post_spot_name">スポット名<span class="text-danger">*</span></label>
              </div>

              <!-- 住所（自動） -->
              <div class="form-floating mb-3">
                <%= f.text_field :address, id: 'post_address', class: "form-control w-100", placeholder: "(スポット名を入力すると自動入力されます)", readonly: true %>
                <label for="post_address">住所(自動)</label>
              </div>

              <!-- タイトル -->
              <div class="form-floating mb-3">
                <%= f.text_field :title, class: "form-control", placeholder: "レビュータイトルを入力してください" %>
                <label for="post_title">タイトル<span class="text-danger">*</span></label>
              </div>

              <!-- コメント -->
              <div class="form-floating mb-3">
                <%= f.text_area :comment, class: "form-control", placeholder: "コメントを入力してください", rows: 5 %>
                <label for="post_comment">コメント<span class="text-danger">*</span></label>
              </div>

              <!-- 訪れた日 -->
              <div class="form-floating mb-3">
                <%= f.date_field :visited_date, class: "form-control w-50" %>
                <label for="post_visited_date">訪れた日<span class="text-danger">*</span></label>
              </div>

              <!-- カテゴリ -->
              <div class="form-floating mb-3">
                <%= f.collection_select :category_id, Category.all, :id, :name, prompt: 'カテゴリを選択', class: "form-select", id: "floatingSelect" %>
                <span class="text-danger">*</span>
              </div>

              <!-- 評価 -->
              <div class="mb-3">
                評価<span class="text-danger">*</span><%= render "new_rate", post: @post %>
              </div>

              <!-- 画像 -->
              <div class="form-floating mb-3">
                <%= f.file_field :images, multiple: true, class: "form-control-file", onchange: "loadImage(this);", accept: 'image/*' %>
                <div id="post_images" style="display: none;">
                  <div id="preview" class="preview-image"></div>
                </div>
              </div>

              <!-- 公開ステータス -->
              <div class="form-check form-check-inline mb-3">
                      <%= f.radio_button :is_private, false, checked: true %>
                      <%= f.label :is_private, '公開' %>
                      <%= f.radio_button :is_private, true %>
                      <%= f.label :is_private, '非公開(下書き)' %>
              </div>

              <div class="d-grid gap-2 col-12 mx-auto my-4">
                <%= f.submit '投稿する', class: 'btn btn-lg btn-secondary'%>
              </div>

              <div style="display: none;">
                <%= f.label :latitude, '緯度', class: 'col-md-2 offset-1' %>
                <%= f.text_field :latitude, id: :latitude, class: 'col-md-3' %>
                <%= f.label :longitude, '経度', class: 'col-md-2 offset-1' %>
                <%= f.text_field :longitude, id: :longitude, class: 'col-md-3' %>
                <%= f.hidden_field :latitude, id: 'post_latitude' %>
                <%= f.hidden_field :longitude, id: 'post_longitude' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- 右側部分 -->
    <div class='col-md-6'>
      <%= render 'map_new' %>
    </div>
  </div>
</div>




<script>
  function loadImage(obj)
  {
    var allPreview = document.getElementById('post_images');
    var newPreview = document.createElement("p");
    allPreview.querySelector("p").remove();
    newPreview.setAttribute("id","preview");
    allPreview.insertBefore(newPreview, allPreview.firstChild);
    document.getElementById("post_images").style.display = "";
    for (i = 0; i < obj.files.length; i++) {
        var fileReader = new FileReader();
        fileReader.onload = (function (e) {
            var img = new Image();
            img.src = e.target.result;
            document.getElementById('preview').appendChild(img);
        });
      fileReader.readAsDataURL(obj.files[i]);
    }
  }
</script>

<style>
.preview-image {
  max-width: 200px;
  max-height: 200px;
}
</style>