<!--/MotoTourReview/app/views/public/posts/new.html.erb-->
<%= form_with model: @post, local: false do |f| %>
  <h4>スポット名</h4>
  <%= f.text_field :spot_name, id: 'post_spot_name', onchange: 'autoFillAddress()' %>
  <%= f.button 'Map表示', type: 'button', class: 'btn btn-sm btn-secondary', onclick: 'codeSpot()' %>
  <h4>住所</h4>
  <%= f.text_field :address, id: 'post_address' %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>コメント</h4>
  <%= f.text_area :comment %>

  <h4>日付</h4>
  <%= f.date_field :visited_date %>

  <h4>カテゴリ</h4>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt: 'カテゴリを選択してください' %>

  <div class="form-group" id="star">
    <%= f.label :star %>
    <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
    <div id="post_raty"></div>
  </div>

  <%= f.submit '投稿' %>

  <div class="row">
    <%= f.label :latitude, '緯度', class: 'col-md-2 offset-1' %>
    <%= f.text_field :latitude, id: :latitude, class: 'col-md-3' %>

    <%= f.label :longitude, '経度', class: 'col-md-2 offset-1' %>
    <%= f.text_field :longitude, id: :longitude, class: 'col-md-3' %>

    <%= f.hidden_field :latitude, id: 'post_latitude' %>
    <%= f.hidden_field :longitude, id: 'post_longitude' %>
  </div>

  <div id="map" style="height: 400px;"></div>

<% end %>

<!--いいねスクリプト-->
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#post_raty');
      if (elem == null) return;

      elem.innerHTML = ""
      let opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post[star]',
      };
      raty(elem, opt);
    });
  </script>

<!--GoogleMAPスクリプト-->
<script>
  let map; // マップ
  let marker; // ピン
  let geocoder; // 住所

  // 初期マップの設定
  function initMap() {
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.6895, lng: 139.6917 }, // デフォルトの中心座標 (東京の緯度・経度)
      zoom: 15,
      fullscreenControl: false, //マップを全画面モードで表示するボタンを非表示
      streetViewControl: false, //ストリートビューに切り替えるボタンを非表示
      scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
      mapTypeControl: false //地図と航空写真を切り替えるボタンを非表示
    });
  }

  // スポット名を住所に変換して地図上に表示する関数
  function codeSpot() {
    let spotName = document.getElementById('post_spot_name').value;
    geocoder.geocode({ 'address': spotName }, function(results, status) {
      if (status === 'OK' && results[0]) {
        let location = results[0].geometry.location;

        // 以前のマーカーがあれば削除
        if (marker) {
          marker.setMap(null);
        }

        marker = new google.maps.Marker({
          map: map,
          position: location,
          title: spotName
        });

        // 地図を新しい位置にセンタリング
        map.setCenter(location);
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  // スポット名を住所に自動入力する関数
  function autoFillAddress() {
    let spotName = document.getElementById('post_spot_name').value;
    geocoder.geocode({ 'address': spotName }, function(results, status) {
      if (status === 'OK' && results[0]) {
        let formattedAddress = results[0].formatted_address;
        document.getElementById('post_address').value = formattedAddress;

        // 緯度と経度を取得して設定
        let latitude = results[0].geometry.location.lat();
        let longitude = results[0].geometry.location.lng();
        document.getElementById('post_latitude').value = latitude;
        document.getElementById('post_longitude').value = longitude;
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
