<!--/MotoTourReview/app/views/public/posts/show.html.erb-->
<div class='container px-5 px-sm-0'>
  <div class='row my-5 gx-5'>

    <!--フラッシュメッセージ-->
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- 左側部分 -->
    <div class='col-md-4 col-xs-4 mb-auto'>
      <!--ユーザーINFO-->
      <%= render "public/users/info", user: @post %>
      <!--コメント-->
      <div class="row">
        <div class="card border border-secondary">
          <div class="mt-2">
            <h5>ひとくちコメント</h5>
          </div>
          <!--コメントフォーム-->
          <% if current_user != @post.user %>
            <div id="comment-form" class="col-12 mb-3">
              <%= render 'public/comments/form', post: @post, comment: @comment %>
            </div>
          <% end %>
          <!--コメント一覧-->
          <div id="post-comments" class="col-12">
            <%= render 'public/comments/post_comments', post: @post %>
          </div>
        </div>
      </div>
    </div>

    <!-- 右側部分 -->
    <div class='col-md-8 ml-5'>
      <!--投稿表示-->
      <div class="row">
        <div class="card border border-secondary">
          <div class='row'>

            <!--ヘッダー(スポット名・訪問日)-->
            <div class="card-header">
              <div class="row d-md-flex justify-content-md-between align-items-center">
                <div class="col-md-8 col-12 text-start">
                  <h3 class="m-0"><%= @post.spot_name %></h3>
                  <p class="m-0"><%= @post.formatted_address %></p>
                </div>
                <div class="col-md-4 col-12 text-md-end">
                  <% if current_user.id == @post.user_id %>
                    <% if @post.is_private %>
                      <div class="btn btn-warning btn-sm disabled">非公開</div>
                    <% else %>
                      <div class="btn btn-success btn-sm disabled">公開中</div>
                    <% end %>
                  <% else %>
                  <% end %>
                  <%= @post.visited_date %>
                </div>
              </div>
            </div>

          <!--投稿画像-->
          <div class="col-md-3">
            <a data-bs-toggle="modal" href="#imageModal">
              <%= image_tag @post.get_image, class: "img-thumbnail" %>
            </a>
          </div>

            <!--ボディ(タイトル・コメント)-->
            <div class="card-body col-md-9">
              <div class="row">
                <div class="card-text col-10 mx-auto text-truncate">
                  <div class="row d-flex align-items-start">
                    <h5 class="col-12 mb-0"><b><%= @post.title %></b></h5><br>
                    <p class="col-12 mb-0"><%= simple_format(@post.comment) %></p>
                  </div>
                  <div>
                    <a class="btn btn-outline-warning btn-sm disabled"><%= @post.category.name %></a>
                  </div>
                  <div>
                    <%= render "static_rate", post: @post %>
                  </div>
                </div>
                <!-- 編集ボタンを表示 -->
                <% if current_user == @post.user %>
                  <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>

            <!--フッター(ユーザー名・評価等)-->
            <div class="card-footer d-md-flex justify-content-md-between align-items-center">
              <div class="d-md-flex">
                <div class=""><i class="fa-regular fa-user"></i>:<%= @post.user.name %> , 投稿日:<%= @post.updated_at.strftime('%Y-%m-%d') %> </div>
                <div class="mx-2"><%= render "public/posts/static_rate", post: @post %></div>
              </div>
              <% if current_user.id != @post.user_id %>
                <div class="d-flex align-items-center">
                  <div class=""><i class="fa-regular fa-message"></i><%= @post.comments.count %> |</div>
                  <div id="favorite_buttons_<%= @post.id %>">
                    <%= render "public/favorites/btn", post: @post %>
                  </div>
                </div>
              <% else %>
                <div class="d-flex align-items-center">
                  <p class="m-0"><i class="fa-regular fa-message"></i><%= @post.comments.count %> |</p>
                  <p class="m-0 btn btn-outline-secondary btn-sm disabled"><i class="fa-regular fa-thumbs-up" aria-hidden="true"></i>Good! <%= @post.favorites.count %></p>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <!--Google MAP-->
      <%= render 'map_show' %>
    </div>

  </div>
</div>



<!-- モーダルダイアログ -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body text-center">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, width: "100%" %>
        <% else %>
          <p>画像が添付されていません。</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>