/MotoTourReview/app/views/public/posts/show.html.erb
<!-- /app/views/public/posts/show.html.erb -->
<h1><%= @post.title %></h1>
<p><%= @post.comment %></p>
<p>訪問日: <%= @post.visited_date %></p>
<p>カテゴリ: <%= @post.category.name %></p>
<p>投稿者: <%= @post.user.name %></p>
<p>address: <%= @post.address %></p>
<p>latitude: <%= @post.latitude %></p>
<p>longitude: <%= @post.longitude %></p>

  <h4>評価</h4>
  <div id="star_<%= @post.id %>"></div>
  <script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#star_<%= @post.id %>');
    if (elem == null) return;

    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: "<%= @post.star %>",
      readOnly: true,
    };
    raty(elem, opt);
  });
  </script>

<div id="map" style="height: 400px;"></div>


<% if @post.user == current_user %>
  <%= link_to "修正", edit_post_path(@post) %>
<% end %>

<h2>コメント</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.name %></strong>: <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "このコメントを削除しますか？" } %>
    <% end %>
  </p>
<% end %>

<%= form_for([@post, @comment]) do |f| %>
  <%= f.text_area :comment, placeholder: "コメントを入力してください" %>
  <%= f.submit "コメント投稿" %>
<% end %>

<h2>いいね</h2>
          <!-- いいねボタンの表示 -->
          <% if @post.favorited_by?(current_user) %><!--いいねをする-->
            <%= link_to post_favorites_path(@post), method: :delete, remote: true, data: {"turbolinks" => false}, style: "color: red;" do %>
              <nobr>
                <i class="fas fa-heart" aria-hidden="true"></i> <!-- ハートのアイコンを表示 -->
                <%= @post.favorites.count %> <!-- いいねの数を表示 -->
              </nobr>
            <% end %>
          <% else %><!--いいねをはずす-->
            <%= link_to post_favorites_path(@post), method: :post, remote: true, data: {"turbolinks" => false} do %>
              <nobr>
                <i class="fas fa-heart" aria-hidden="true"></i> <!-- ハートのアイコンを表示 -->
                <%= @post.favorites.count %> <!-- いいねの数を表示 -->
              </nobr>
            <% end %>
          <% end %>

<%= link_to "一覧に戻る", posts_path %>




<script>
  // 詳細画面の住所を取得
  let postAddress = "<%= @post.address %>";
  let postLat = <%= @post.latitude %>;
  let postLng = <%= @post.longitude %>;

  // 初期化とマップの描画
  function initMap() {
    let map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: postLat, lng: postLng },
      zoom: 15,
      fullscreenControl: false,
      streetViewControl: false,
      scaleControl: true,
      mapTypeControl: false
    });

    // ピンを立てる
    let marker = new google.maps.Marker({
      position: { lat: postLat, lng: postLng },
      map: map,
      title: postAddress
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap"></script>
