<!--/MotoTourReview/app/views/public/homes/top.html.erb-->
<div class="container px-5 px-sm-0">
  <div class="row">

    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- 左側カラム col-md-6 -->
    <div class="col-md-6 mt-5 align-items-center">
      <div class="top-text text-center">
        <h2>駆け巡り、記録し、シェアしよう。</h2>
        <h4>ツーリングスポットレビューサイト</h4>
      </div>

      <div class="top-logo my-5">
        <img src="<%= asset_path('logo.png') %>" alt="Logo" class="top-logo w-100">
      </div>

      <div class="top-btn d-grid gap-2 col-6 mx-auto text-center">
        <% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user), class: "btn btn-primary btn-lg" %>
          <%= link_to "投稿一覧", posts_path, class: "btn btn-info btn-lg" %>
          <%= link_to "新規投稿", new_post_path, class: "btn btn-success btn-lg" %>
        <% elsif admin_signed_in? %>
        <% else %>
          <div>
            <a class="links" href="/about">About</a>
          </div>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-lg" %>
          <div>
            <%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, method: :post, class: "links" %>
          </div>
        <% end %>

      </div>
    </div>

    <!-- 右側カラム col-md-6 -->
    <div class="col-md-6">
      <%= image_tag "top_view.png", alt: "Top View", class: "top-img w-100" %>
    </div>

  </div>
</div>
