/MotoTourReview/app/views/admin/homes/top.html.erb
<!-- /app/views/admin/homes/top.html.erb -->
<h1>管理者トップページ</h1>

<h2>ユーザー一覧</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>アカウント名</th>
      <th>退会状況</th>
      <th>詳細</th>
      <th>編集</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.is_deleted %></td>
        <td><%= link_to "詳細", admin_user_path(user) %></td>
        <td><%= link_to "編集", edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
