<!-- /MotoTourReview/app/views/admin/homes/top.html.erb -->
<div class="container mt-4">
  <div class="row">
    <h2>ユーザー一覧(管理者トップ)</h2>

    <% @users.each do |user| %>
      <div class="col-md-2 mb-2">
        <div class="card">
          <div class="card-header">
            <div><%= user.name %></div>
            <div></div>
          </div>

          <div class="card-body">
            <div class="card-img-top">
              <%= image_tag user.get_profile_image, class: "img-fluid mx-auto d-block user-image", alt: "ユーザー画像" %>
            </div>
            <div>
              投稿数:<%= user.posts.count %>
              <%= link_to "詳細", admin_user_path(user), class: "btn btn-info btn-sm" %>
            </div>
          </div>

          <div class="card-footer <%= user.is_deleted ? 'bg-secondary text-white' : '' %>">
            <%= user.is_deleted ? "退会済" : "登録中" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
