<!--/MotoTourReview/app/views/public/registrations/new.html.erb-->
<div class="container my-5">
  <div class="row col-sm-6 mx-auto">

    <div class="notice">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>

    <div class="form">
      <h2>新規アカウント登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <!--アカウント名-->
        <div class="form-floating mb-3">
          <%= f.text_field :name, class: "form-control is-invalid", id: "floatingInput", placeholder: "name" %>
          <label for="floatingInput"><span class="text-danger">*</span>アカウント名<em>(16文字以内)</em></label>
        </div>
        <!--メールアドレス-->
        <div class="form-floating mb-3">
          <%= f.email_field :email, class: "form-control is-invalid", id: "floatingInput", placeholder: "name@example.com" %>
          <label for="floatingInput"><span class="text-danger">*</span>メールアドレス<em>(公開されません)</em></label>
        </div>
        <!--パスワード-->
        <div class="form-floating mb-3">
          <%= f.text_field :password, class: "form-control is-invalid", id: "floatingInput", placeholder: "password" %>
          <label for="floatingInput"><span class="text-danger">*</span>パスワード<em>(半角英数6〜12文字)</em></label>
        </div>
        <!--パスワード確認-->
        <div class="form-floating mb-3">
          <%= f.text_field :password_confirmation, class: "form-control is-invalid", id: "floatingInput", placeholder: "password" %>
          <label for="floatingInput"><span class="text-danger">*</span>パスワード<em>(確認)</em></label>
        </div>
        <!--ボタン-->
        <div class="d-grid gap-2 col-lg-6 mx-auto">
          <%= f.submit "アカウントを作成する", class: "btn btn-success btn-lg" %>
          <%= render "public/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

