<!-- /app/views/admin/users/edit.html.erb -->
<div class="container mt-4">
  <h1>ユーザー情報編集</h1>

  <%= form_for(@user, url: admin_user_path(@user), method: :patch) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :bike_name %>
      <%= f.text_field :bike_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :is_deleted %>
      <%= f.check_box :is_deleted, class: "form-check-input" %>
    </div>

    <div class="form-group">
      <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
