/MotoTourReview/app/views/public/users/edit.html.erb
<!-- /app/views/admin/users/edit.html.erb -->
<h1>ユーザー情報編集</h1>

<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>

  <div>
    <%= f.label :bike_name %>
    <%= f.text_field :bike_name %>
  </div>

  <div>
    <%= f.label :is_deleted %>
    <%= f.check_box :is_deleted %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>
