<!--/MotoTourReview/app/views/public/sessions/new.html.erb-->
<div class="container my-5">
  <div class="row col-sm-6 mx-auto">

    <div class="notice">
      <p class="alert" role="alert"><%= alert %></p>
    </div>

    <div class="form">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!--メールアドレス-->
          <div class="form-floating mb-3">
            <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
            <label for="floatingInput">メールアドレス</label>
          </div>
          <!--パスワード-->
          <div class="form-floating mb-3">
            <%= f.password_field :password, class: "form-control", id: "floatingInput", placeholder: "password" %>
            <label for="floatingInput">パスワード</label>
          </div>
          <!--ボタン-->
          <div class="d-grid gap-2 col-lg-6 mx-auto mt-5">
            <%= f.submit "ログインする", class: "btn btn-outline-success btn-lg" %>
            <%= render "public/shared/links" %>
          </div>
      <% end %>
    </div>

  </div>
</div>
