<!--/MotoTourReview/app/views/public/users/_users_post.html.erb-->
<% @posts.each do |post| %>
  <div class="card border border-secondary h-100">
    <div class="row">

      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="col-md-8 text-start"><%= post.spot_name %></div>
        <div class="col-md-4 text-end"><%= post.visited_date %></div>
      </div>

      <div class="col-md-4">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, class: "card-img-top post-image", alt: "投稿画像", style: "object-fit: cover;" %>
        <% end %>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <div class="card-title"><h5><%= post.title %></h5></div>
          <div class="card-text col-12 text-truncate"><%= simple_format(post.comment) %></div>
        </div>
        <div class="text-right">
          <%= link_to "詳細を見る>> ", post_path(post), class: "btn btn-link" %>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-between align-items-center">
        <%= render "public/posts/static_rate", post: post %>
        <% if current_user.id != post.user_id %>
          <div id="favorite_buttons_<%= post.id %>">
            <%= render "public/favorites/btn", post: post %>
          </div>
        <% else %>
          <div>
            <%= post.is_private ? '非公開' : '公開中' %> |
            <nobr><i class="fa-regular fa-message"></i><%= post.comments.count %> | </nobr>
            <nobr><i class="fas fa-heart" aria-hidden="true"></i><%= post.favorites.count %></nobr>
          </div>
        <% end %>
      </div>

    </div>
  </div>
<% end %>