<!--/MotoTourReview/app/views/public/users/edit.html.erb-->
<div class="container my-5">
  <div class="row col-sm-6 mx-auto">

    <div class="notice">
      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form">
      <h2>プロフィール編集</h2>
      <%= form_for(@user) do |f| %>
        <!--メールアドレス-->
        <div class="form-floating mb-3">
          <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
          <label for="floatingInput"><span class="text-danger">*</span>メールアドレス <em>(公開されません)</em></label>
        </div>
        <!--アカウント名-->
        <div class="form-floating mb-3">
          <%= f.text_field :name, class: "form-control", id: "floatingInput", placeholder: "name" %>
          <label for="floatingInput"><span class="text-danger">*</span>アカウント名 <em>(16文字以内)</em></label>
        </div>
        <!--自己紹介-->
        <div class="form-floating mb-3">
          <%= f.text_area :introduction, class: "form-control", id: "floatingInput", placeholder: "introduction" %>
          <label for="floatingInput">自己紹介</label>
        </div>
        <!--バイク名-->
        <div class="form-floating mb-3">
          <%= f.text_field :bike_name, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
          <label for="floatingInput">バイク名</label>
        </div>
        <!--プロフィール画像-->
        <div class="form-floating mb-3">
          <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
        </div>

        <!--ボタン-->
        <div class="d-grid gap-2 col-6 mx-auto">
          <%= f.submit "更新", class: "btn btn-outline-success btn-lg mt-2 mb-5" %>
          <%= link_to "退会する", unsubscribe_user_path(current_user), class: "btn btn-outline-danger btn-sm" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
