<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand p-1" href="/">LOGO</a>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item ml-auto">
          ようこそ、<%= current_user.name %>さん！
        </li>
      <% else %>
      <% end %>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item m-1">
            <%= link_to "マイページ", about_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
          <li class="nav-item m-1">
            <%= link_to "投稿一覧", about_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
          <li class="nav-item m-1">
            <%= link_to "新規投稿", about_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
          <li class="nav-item m-1">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
        <% else %>
          <li class="nav-item m-1">
            <%= link_to "About", about_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
          <li class="nav-item m-1">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
          <li class="nav-item m-1">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
